# Tautulli - Plex media server monitoring
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=$HOSTNAME

# User/group IDs for volume permissions
SERVICE_USER=1000
SERVICE_GROUP=1000
